{% extends "layout.twig" %}

{% block content %}
    <h1>Home</h1>
    <section>
        {% for article in articles %}
        
             <article>
                <h2>{{ article.title }}</h2>
                <p>
                    {{ article.body }}

                </p>
                {% for key, tag in article.tags %}
                    
                <a href=" {{ key }} "> {{ tag }} </a>

                    
                {% endfor %} 
            </article>
        {% endfor %}
    </section>
{% endblock %}
